@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}


@* show Error Message*@
<div asp-validation-summary="All"></div>

<h1>Edit @Model.Name Employee</h1>








<form asp-action="Edit"  enctype="multipart/form-data">

    
   
    <partial name="PartialViews/_CreateEditPartialView" />

    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" asp-controller="Employee" class="btn btn-light">Back To List</a>
</form>



@section ClientSideValidation {
    <partial name="_ValidationScriptsPartial" />
}

